
<div id="border" *ngIf="isAuthenticated" >

  <button type="button"  (click)="onCancel()" class="btn btn-danger" >Cancel</button>
  <div class="row">
     
    <div class="col-xs-12">
      
      <img [src]="item.imagePath" alt="{{ item.name }}" class="img-responsive"
            style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ item.name }}</h1>
    </div>
  </div>
  
<hr>

  <div class="row">
    <div class="col-xs-12">
          <a style="cursor: pointer;" id="edit" (click)="onEditItem()">Muokkaa ja lisää kategoriaan</a>
          
          <a style="cursor: pointer;" id="delete" (click)="onDeleteItem()">Poista kategoria</a>

      </div>
    </div>
  </div>

   <div *ngIf="!isAuthenticated">
  <app-gallery-category-back></app-gallery-category-back>
  </div>



  <div *ngIf="!isAuthenticated">
  <app-gallery-category 
  *ngFor="let tuote of item.tuotteet let i = index" 
  [tuote]="tuote" 
  [index]="i"></app-gallery-category> 
</div>

