#edit{
    color: blue;
    font-size: 25px;
}


#delete{
    color: red;  
    font-size: 25px;
    margin-left: 20px;
}

#gategory{
    color: green;  
    font-size: 25px;
    margin-left: 20px;
}

#border{
    border: solid black 1px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 65%;
    margin-left: 25%;
    width: 800px;
   
    background-color: rgb(233, 233, 233);
}

button{
    float: right;
}