<div class="container">
    <p style="font-weight:bold;font-size:1.3em;text-align:center">Suomen Eurouuni on kotimainen perheyritys ja
        pääpaikkamme sijaitsee Mäntyharjulla.
        Valmistamme ja markkinoimme korkealaatuisia lämmitykseen ja sisustukseen liittyviä ratkaisuja ammattitaidolla.
    </p>

    <p>Valmistamastamme luonnonkivituotevalikoimastamme löytyvät: Takkauunit, takkaleivinuunit, leivinuunit, hellat,
        kiukaat, grillit, mittatilaustulisijat sekä erilaisia sisustuksessa käytettäviä laattoja. Kamiinat, takkasydämet
        ja kevyt-takkatuotteet VERKKOKAUPASTA
    </p>

    <p>
        Markkinoimme: Elementti- ja teräshormistoja, kevyt-takkoja, helloja, kamiinoita, kiukaita ja muuripatoja,
        "Tee-se-itse" -henkilöille luukut ja muut tarvikkeet sekä erilaisia ulko- ja sisätiloissa käytettäviä
        kivilaattoja.
    </p>

    <h5 style="margin-top:30px; text-align:center">
        Palvelemme Teitä myös kokonaisvaltaisesti "Tulitikut-käteen" -periaatteella pohjatöistä piipun sadehattuun asti.
    </h5>

</div>