body {
    height: 100%;
}

.header{
    
    background-image: url(../../assets/img/fireplace.jpg);
    
    background-position:top;
    background-size: cover;
    height: 500px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    opacity: 97%;
    
}
