<<<<<<< HEAD

=======
>>>>>>> f43caf5aa822ded0bc92721f67d317b5bc5e51d3
body {
    height: 100%;
}

.header{
    
    background-image: url(../../assets/img/fireplace.jpg);
    
    background-position:top;
    background-size: cover;
    height: 500px;
    display: flex;
<<<<<<< HEAD
    position: relative;
=======
>>>>>>> f43caf5aa822ded0bc92721f67d317b5bc5e51d3
    align-items: center;
    justify-content: center;
    opacity: 97%;
    
<<<<<<< HEAD
}
=======
}
>>>>>>> f43caf5aa822ded0bc92721f67d317b5bc5e51d3
