<div class="row">
  <div class="header">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ajankohtaista</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim excepturi asperiores
            quod animi, nobis quas! A, impedit fugiat quis aut, nesciunt voluptas quia ex nemo, aspernatur qui
            eligendi enim culpa.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="assets/img/eurouuni.png" class="logo">
    </div>
    <div class="col">
    </div>
  </div>
</div>