body {
    height: 100%;

}

.header {
    background-position: 45% 45%;
    background-size: cover;
    height: 20rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}

h5 {
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.logo {
    width: 100%;
}