<div class="footer">
        <div class="container">
        <div class="row">
          <div class="col">
            <h1> Aukioloajat</h1>
            <p> Ma - Pe klo 9.00 - 16.00 </p>
            <p>  Muulloin sopimuksen mukaan</p>
          </div>
          <div class="col">
           <h1>Yhteystiedot</h1>
           <p>Puh. 015 165 144</p>
           <p>seu@suomeneurouuni.fi</p>
          </div>
          <div class="col">
           <h1>Sijainti</h1>
           <p> Raita-ahontie 8</p>
           <p>52700 Mäntyharju</p>
          </div>
          <div class="col">
           </div>
          
        </div>
      </div>

  </div>