<div id="targetYhteistiedot"> </div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1> Aukioloajat</h1>
        <p> Ma - Pe klo 9.00 - 16.00 </p>
        <p> Muulloin sopimuksen mukaan</p>
      </div>
      <div class="col">
        <h1>Yhteystiedot</h1>
        <p>Puh. 0400573797, 0400644600, 0405269283</p>
        <p>seu@suomeneurouuni.fi</p>
      </div>
      <div class="col">
        <h1>Sijainti</h1>
        <p> Raita-ahontie 8</p>
        <p>52700 Mäntyharju</p>
      </div>
      <div class="col">
        <h1>Seuraa meitä myös instragramissa!</h1>
        <a style="text-decoration: none; color: black;" target="_blank"
          href="https://www.instagram.com/eurotulisijat/?hl=fi">
          <img style="height: 10%; width: 10%; opacity: 65%;" src="../../assets/img/ig.png">
          <p style="color: rgb(85, 45, 13);">eurotulisijat</p>
        </a>
      </div>
    </div>
  </div>
</div>