h3 {
    color: black;
    font-size: 17px;
}

form {
    border: solid black 1px;
    background-color: rgb(221, 221, 221);
    position: absolute;
    left: 0;
    margin-left: 25%;
    width: 900px;
    z-index: 2;
}

button {
    float: right;
}

.container {
    display: flex;
    align-items: center;
}

.img-col {
    flex-basis: 25%;
    margin-right: 15px;


    #editText {
        font-size: 20px;
        padding-bottom: 20px;
        color: blue;
    }