

mat-toolbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 100%;
    background-color: #fe852b;
    color: #212529;
    font-size: 25px;
    font-size: 15px;
    position: fixed;
    z-index: 1000; 

    background-color: var(--navbar-scroll);
    transition: background-color 1s ease;
    color: var(--navbar-scroll-text);
    -webkit-box-shadow: var(--navbar-scroll-shadow);
    box-shadow: var(--navbar-scroll-shadow);
   
  }
  .mat-button {
      font-size: 20px;
      margin-right: 15px;
  }


