#itemswrapper{
    width: 320px;
    display: inline-block;
    padding: 30px;
   text-align: center;
}

h4{
    font-size: 25px;
    color: black;
 
}

h5{
    font-size: 25px;
}

h3{
    font-size: 23px;
    color: black;
}

#tuotewrapper{
    position: absolute;
    top: 0;
    margin-top: 180px;
    left: 10%;
    right: 10%;
  
    width: 80%;
    padding-left: 150px;
    
}


a{
    color: black;
    text-decoration: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> 61dd80448b3cc714648f5fd62ebfe349ce821264
