


  <div id="itemswrapper" >
 
  <a style="cursor: pointer;"
     (click)="onSelect(tuote)"> 

   <img [src]="tuote.imagePath"  alt="{{ tuote.name }}"  
         class="img-responsive" style="height: 220px;" > 
  
  <h3>{{ tuote.name }}</h3> 

  </a> 
</div>

 


<div id="tuotewrapper">
 
      <h4>{{selectedTuote.name}}</h4>
  
      <img [src]="selectedTuote.imagePath" 
           class="img-responsive" style="height: 300px;" >
  
      <h5> {{selectedTuote.description}}</h5>

      
  </div>


