.card {
    padding: 15px;
    font-size: 18px;
    webkit-box-shadow: 7px 7px 56px -24px rgb(0 0 0 / 57%);
    -moz-box-shadow: 7px 7px 56px -24px rgba(0,0,0,0.57);
    box-shadow: 7px 7px 56px -24px rgb(0 0 0 / 57%);
    margin-bottom: 1rem;
}

h5 {
    display: block;
    font-size: 1rem;
    font-weight: bold;
}
