<div *ngIf="showForm1" class="form">
    <h2 style="text-align: center;">Remontit</h2>
    <p style="text-align: center;">Yhteydenottolomake</p>
    <form [formGroup]="exform">
        <div class="form-group">
            <label for="name">Nimi</label>
            <input formControlName="name" type="input" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="email">Sähköposti</label>
            <input formControlName="email" type="email" class="form-control" id="email">
            <b *ngIf="exform.get('email').invalid && exform.get('email').touched"><small class="text-danger">Sähköposti
                    tarvitaan </small>
                <fa-icon [icon]="faExclamationTriangle" style="color: red;"></fa-icon>
            </b>
        </div>
        <div class="form-group">
            <label for="textarea">Tietoja</label>
            <textarea formControlName="message" class="form-control" id="textarea" rows="3"></textarea>
        </div><br>
        <button [disabled]="exform.invalid" type="button" class="btn btn-dark w-100">Lähetä Viesti</button>
    </form>
</div>

<div *ngIf="showForm2" class="form">
    <h2 style="text-align: center;">Tulisija/ Tulisijakorjaus</h2>
    <p style="text-align: center;">Yhteydenottolomake</p>
    <form [formGroup]="exform">
        <div class="form-group">
            <label for="name">Nimi</label>
            <input formControlName="name" type="input" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="email">Sähköposti</label>
            <input formControlName="email" type="email" class="form-control" id="email">
            <b *ngIf="exform.get('email').invalid && exform.get('email').touched"><small class="text-danger">Sähköposti
                    tarvitaan </small>
                <fa-icon [icon]="faExclamationTriangle" style="color: red;"></fa-icon>
            </b>
        </div>
        <div class="form-group">
            <label for="textarea">Tietoja</label>
            <textarea formControlName="message" class="form-control" id="textarea" rows="3"></textarea>
        </div><br>
        <button [disabled]="exform.invalid" type="button" class="btn btn-dark w-100">Lähetä Viesti</button>
    </form>
</div>

<div *ngIf="showForm3" class="form">
    <h2 style="text-align: center;">Muu</h2>
    <p style="text-align: center;">Yhteydenottolomake</p>
    <form [formGroup]="exform">
        <div class="form-group">
            <label for="name">Nimi</label>
            <input formControlName="name" type="input" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="email">Sähköposti</label>
            <input formControlName="email" type="email" class="form-control" id="email">
            <b *ngIf="exform.get('email').invalid && exform.get('email').touched"><small class="text-danger">Sähköposti
                    tarvitaan </small>
                <fa-icon [icon]="faExclamationTriangle" style="color: red;"></fa-icon>
            </b>
        </div>
        <div class="form-group">
            <label for="textarea">Tietoja</label>
            <textarea formControlName="message" class="form-control" id="textarea" rows="3"></textarea>
        </div><br>
        <button [disabled]="exform.invalid" type="button" class="btn btn-dark w-100">Lähetä Viesti</button>
    </form>
</div>