<app-gallery-itemit-list> </app-gallery-itemit-list> 
 

  <div id="border">

    <button type="button"  (click)="onCancel()" class="btn btn-danger" >Cancel</button>
    <div class="row">
       
      <div class="col-xs-12">
        
        <img
          [src]="tuote.imagePath"
          alt="{{ tuote.name }}"
          class="img-responsive"
          style="max-height: 300px;">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ tuote.name }}</h1>
      </div>
    </div>
     
    <div class="row">
      <div class="col-xs-12">
        {{ tuote.description }}
      </div>
    </div>
  <hr>
    <div class="row">
      <div class="col-xs-12">
            <a style="cursor: pointer;" id="edit" (click)="onEditTuote()">Edit Tuote</a>
            
            <a style="cursor: pointer;" id="delete" (click)="onDeleteTuote()">Delete Tuote</a>
         
       
        </div>
      </div>
    </div>
   
  
    