<div id="targetGalleria"> </div>
<div class="container">
    <div class="row justify-content-center" style="background-image: url(assets/img/fireplace.jpg); 
    background-position:bottom;
    background-size: cover; text-shadow: 1px 1px 2px black;">
        <div class="col-md-auto ">
            <h2>Tulisijat</h2>
            <p>Yksilölliset mittatilaustulisijat</p>
            <p>Varaavat tulisijat</p>
            <p>Pönttöuunit</p>
            <a (click)="onFetchData()" routerLink="/gallery" class="btn btn-lg btn-dark ">Galleria</a>
        </div>
    </div>

    <div id="targetPalvelut"> </div>
    <div class="row justify-content-center" id="targetpalvelut" style="background-image: url(assets/img/tulisijakorjaus.jpg); background-position:center;
    background-size: cover; text-shadow: 1px 1px 2px black;">
        <div class="col-md-auto">
            <h2>Korjaukset</h2>
            <p>Tulisijakorjaukset</p>
            <p>Hormikorjaukset</p>
        </div>
    </div>

    <div class="row justify-content-center" style="background-image: url(assets/img/remontti.jpg); background-position: 70% 70%;
    background-size: cover; text-shadow: 1px 1px 2px black;">
        <div class="col-md-auto ">
            <h2>Remontit</h2>
            <p>Mökki– ja huoneistoremontit</p>
            <p>Sauna- ja kylpyhuoneremontit</p>
            <p>Kattoremontit</p>
        </div>
    </div>

    <div class="row justify-content-center" style="background-image: url(assets/img/muut-palvelut.jpg); background-position: 0% 40%;
    background-size: cover; text-shadow: 1px 1px 2px black;">
        <div class="col-md-auto ">
            <h2>Muut Palvelut</h2>
            <p>Piipunpellitykset</p>
            <p>Sadehatut</p>
            <p>Kattoturvatuotteet</p>
        </div>
    </div>

    <div id="targetVerkkokauppa"> </div>
    <div class="row justify-content-center" style="background-color:#3C424C; text-shadow: 1px 1px 2px black;">
        <div class="col-md-auto ">
            <h2>Verkkokauppa</h2>
            <p>Kaminat</p>
            <p>Valmistulisijat</p>
            <p>Hormistot</p>
            <a href="https://www.eurotulisijat.fi/fi" target="_blank" class="btn btn-lg btn-dark ">Verkkokauppaan</a>
        </div>
    </div>
</div>