<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <div class="card flex-row " style="width: 45rem;">
                <img id="img" class="card-img-left" src="assets/img/limppu.png">
                <div class="card-body" style="background-color: #fe852b; ">
                    <div class="card-body" style="text-align: center;">
                        <h2 class="card-title">LIMPPU</h2>
                        <h4 class="card-title">Liesileivinuuni</h4>
                        <p class="card-text">Tehokas lämmittäjä ja hyvä paistaja. Hellanluukku 230 x 385 mm.
                            Leivinluukku
                            410 x
                            180/230 mm. Leivinuunin leveys 400 mm, syvyys 450 mm ja korkeus 240 mm
                        </p>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Leveys: 980mm, 1040mm</p>
                    </li>
                    <li class="list-group-item">
                        <p>Syvyys: 640mm</p>
                    </li>
                    <li class="list-group-item">
                        <p>Korkeus: 930mm</p>
                    </li>

                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-dark btn-block">GALLERIAAN!</a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <div class="card flex-row" style="width: 32rem;">
                <img id="img" class="card-img-left" src="assets/img/tyttiL.png">
                <div class="card-body" style="background-color: #fe852b; ">
                    <div class="card-body" style="text-align: center;">
                        <h2 class="card-title">TYTTI L</h2>
                        <h4 class="card-title">Takkaleivinuuni suoralla luukulla</h4>
                        <p class="card-text">Erinomainen paisto ja ruoanvalmistus ominaisuuksiltaan. Takkaluukku 410 x
                            410mm,
                            leivinluukku 410 x 180 / 230mm</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p>Leveys: 5000mm</p>
                        </li>
                        <li class="list-group-item">
                            <p>Syvyys: 100000mm</p>
                        </li>
                        <li class="list-group-item">
                            <p>Korkeus: 1000mm</p>
                        </li>
                    </ul>
                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-block btn-dark">GALLERIAAN!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-auto">
            <div class="card flex-row" style="width: 32rem;">
                <img id="img" class="card-img-left" src="assets/img/kiuas.png">
                <div class="card-body" style="background-color: #fe852b; ">
                    <div class="card-body" style="text-align: center;">
                        <h2 class="card-title">KIUAS</h2>
                        <h4 class="card-title">Kiuas</h4>
                        <p class="card-text">Löylynautinto parhaimmillaan! Löyly on kosteaa, happirikasta ja pehmeää.
                            Paljon eri
                            koko vaihtoehtoja saatavilla!
                        </p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p>Leveys: 540mm</p>
                        </li>
                        <li class="list-group-item">
                            <p>Syvyys: 540mm</p>
                        </li>
                        <li class="list-group-item">
                            <p>Korkeus: 930mm</p>
                        </li>

                        <div class="d-grid gap-2">
                            <a href="#" class="btn btn-dark btn-block">GALLERIAAN!</a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>