form {
    width: 800px;
    border: solid black 2px;
    background-color: rgb(221, 221, 221);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15%;
    margin-left: 25%;
    width: 800px;
    z-index: 2;
 
}

button {

    margin-left: 15px;
}


button {
    float: right;
}

#warning {
    height: 7mm;
    width: 50%;
}

img {
    height: 200px;
}

#tuotediv {
    background-color: black ;
    height: 1px;
    box-shadow: 0px 2px 3px rgb(0, 0, 0);

}

.row {
    --bs-gutter-x: 0 !important;
    
}

label {
    margin-top: 3px;
}

#tuotenimi{
    width: 300px;
}