

.textinput {
    float: left;
    width: 100%;
    min-height: 100px;
    outline: none;
    resize: none;
    border: 1px solid grey;
}

#EditText{
   margin-bottom: 10px;
}

#uus {
    margin-bottom: 10px;
  }